body {
    background-color: rgb(235, 209, 225);
}
.register {
    color: black;
    background-color: white;
    padding: 3em;
}
.products {
    padding: 3rem;
}
.how label{
    display: block;
}
.login {
    color: black;
    background-color: white;
    padding: 3rem;
}
.checkout {
    padding: 3rem;
}

h1{
    color: #080004;
}

.how label{
    display: block;
}

input{
    display: block;
}

input[type=radio]{
    display: inline-block;
}

.store {
    margin: auto;
    display: block;
    width: 30%;
}
.card {
    color: rgb(156, 46, 70);
}
#cart table{
    width: 75%;
    margin: auto;
    padding: 7rem;
}
#cart {
    padding: 3em;
}
.col-12 {
    text-align: center;
}
